* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}

#container {
  overflow: hidden;
}

body {
  background: #1e2630;
  color: #f1f2f7;
  width: 50vw;
  min-height: 100vh;
  display: flex;
}

main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
}

main h1 {
  color: #aab4cc;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

main .midias-sociais {
  display: flex;
  align-items: center;
}

main .midias-sociais img {
  text-decoration: none;
}

main .midias-sociais img {
  width: 36px;
  margin-left: 3rem;
}

main .midias-sociais a:first-child img {
  margin-left: 0;
}

main form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main form label {
  display: flex;
  flex-direction: column;
}

main form label span {
  font-size: 1.3rem;
  margin-top: 2rem;
  font-weight: bold;
}

main form input {
  background: #181d24;
  width: 300px;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 1rem;
  outline: none;
  border-radius: 8px;
  color: #f1f2f7;
  border: 1px solid #101317;
  font-size: 1.1rem;
}

main form input[type="button"] {
  background: #838da6;
  width: 50%;
  margin-top: 4rem;
  border: none;
  cursor: pointer;
  color: #f1f2f7;
  font-weight: bold;
  font-size: 1.1rem;
}

main form input[type="button"]:hover {
  background: #636b80;
}

main .alternativo {
  margin-top: 2rem;
}

main .alternativo span {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  justify-content: center;
  align-self: middle;
}

main .alternativo span::before,
main .alternativo span::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100px;
  bottom: 50%;
  right: 100px;
  background: rgba(255, 255, 255, 0.3);
}

main .alternativo span::after {
  left: 100px;
}

/* section */

section .bem-vindo {
  display: flex-end;
  align-items: flex-end;
  padding: 4rem;
}

section.bem-vindo .circulo {
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #838da6, #2d343b);
  clip-path: circle(75% at right 80%);
  z-index: -1;
}

section.bem-vindo .circulo:first-child img {
  width: 50%;
  display: flex-end;
  align-items: center;
  margin-left: 90vh;
  margin-top: 35px;
}

section.bem-vindo .circulo .title {
  display: flex-end;
  margin-left: 67vw;
}

section.bem-vindo .circulo .description {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f2f7;
  margin-left: 50vw;
  line-height: 4.1rem;
  font-size: 2.5rem;
}
